*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 1em;
	font-family: Georgia, serif;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
} 

.loader {
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: 20;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
    position: relative;
    border: 24px solid;
    border-color: #005EC7  transparent #005EC7 transparent;
    border-radius: 50%;
    animation : rotate 2s linear infinite;
}
.spinner:before,
.spinner:after {
    content:"";
    display: block;
    border: 24px solid transparent;
    border-radius: 50%;
    border-left-color: #584193;
    position: absolute;
    left: -24px;
    top: -24px;
    animation: mvx 1s infinite linear;
}
.spinner:before {
    border-color: transparent #FFBC54 transparent transparent;
    animation-name: mvrx;
    animation-delay: 0.5s;
}
@keyframes rotate {
    100% {transform: rotate(360deg)}
}
@keyframes mvx {
    20% , 80% {transform: translateX(0)}
    50% {transform: translateX(-50%)}
}
@keyframes mvrx {
    20% , 80% {transform: translateX(0)}
    50% {transform: translateX(50%)}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: grid;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	grid-template-columns: auto auto;
	padding: 10px 20px;
	background: #fffd;
	z-index: 2;
}

header > div:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	margin: auto;
	margin-left: 0; 
	cursor: default;
}

header > div:first-of-type img {
	height: 70px;
	object-fit: contain;
	object-position: center;
	border-radius: 50%;
} 

header > div:first-of-type h2 {
	margin: 10px;
	color: #584193;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column nowrap;
}

header > div:first-of-type span {
	font-size: 0.9rem;
	font-style: italic;
	color: #584193;
	font-weight: 400;
	white-space: nowrap;
} 

header > div:nth-of-type(2) {
	transition: all 0.3s;
} 

header > div:nth-of-type(2).menu_toggle {
	height: auto;
	transform: scaleY(1);
} 

header > div:nth-of-type(2) nav {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: row wrap;
	margin: 10px;
}

header > div:nth-of-type(2) nav a {
	font-weight: 500;
	margin: 0 10px;
	padding: 10px 20px;
	text-decoration: none;
	color: #584193;
	transition: all 0.3s;
	position: relative;
} 

header > div:nth-of-type(2) nav:first-of-type {
	background: #FFBC54AA;
	border: 1px solid #584193;
	border-width: 0 0 1px 0;
	padding: 20px;
}

header > div:nth-of-type(2) nav:last-of-type a {
	height: 20px;
	width: 20px;
	display: inline-block;
	margin: 0 10px;
	background-image: url('./src/images/facebook.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

header > div:nth-of-type(2) nav:last-of-type a:nth-of-type(1) {
	background-image: url('./src/images/email.png');
}

header > div:nth-of-type(2) nav:last-of-type a:nth-of-type(2) {
	background-image: url('./src/images/whatsapp.png');
}

header > div:nth-of-type(2) nav:last-of-type a:nth-of-type(3) {
	background-image: url('./src/images/call.png');
}

header > div:nth-of-type(2) nav:last-of-type a:nth-of-type(4) {
	background-image: url('./src/images/facebook.png');
}

header > div:nth-of-type(2) nav:last-of-type a:nth-of-type(5) {
	background-image: url('./src/images/instagram.png');
}

header > div:nth-of-type(2) nav:first-of-type a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 5px;
	background: #005EC7;
	transition: all 0.3s;
}

header > div:nth-of-type(2) nav:first-of-type a:hover {
	color: #005EC7;
}

header > div:nth-of-type(2) nav:last-of-type a:hover {
	transform: scale(1.2);
}

header > div:nth-of-type(2) nav:first-of-type a:hover:before {
	width: 100%;
}

header > div:nth-of-type(2) nav:first-of-type a:last-of-type {
	background: #005EC7;
	color: #fff;
}

header > div:nth-of-type(2) nav:last-of-type {
	float: right;
}

header > div:nth-of-type(2) nav:last-of-type a {
	padding: 0 8px;
	font-size: 0.9em;
}

header > div:last-of-type {
	height: 30px;
	width: 30px;
	display: none;
	background: url("./src/images/menu.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 5;
} 

header > div:last-of-type.menu_toggle {
	background: url("./src/images/close.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
} 


.main {
	display: block;
	position: relative;
}

.main section {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(#0003, #0003), url("./src/images/whole hotel.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

.main section img {
	height: 80px;
	width: 80px;
	object-fit: contain;
	object-position: center;
	border-radius: 10px;
} 

.main section h1 {
	color: #fff;
	text-shadow: 5px 5px 5px #000;
	text-align: center;
	font-size: 2em;
	font-weight: 500;
}

.main section h1 span {
	display: inline-block;
	margin: 10px 0;
} 

.main section h1 span:nth-of-type(2) {
	font-size: 1.5em;
} 

.main a {
	position: absolute;
	bottom: 10%;
	left: 50%;
	height: 30px;
	width: 30px;
	border: 3px solid #fff;
	border-width: 0 2px 2px 0;
	transform: translateX(-50%) rotate(45deg);
}

.info {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
	padding: 10px;
	border: 30px solid #FFBC54AA;
	border-width: 30px 0;
} 

.info h2 {
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-style: italic;
	font-size: 1.5em;
	color: #584193;
} 

.info p {
	width: 50%;
	line-height: 2em;
	color: #444;
	text-align: center;
	padding: 10px 20px;
	font-size: 1em;
} 

.services {
	display: block;
}

.services section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	background: #584193;
	width: 100%;
} 

.services section > div {
	position: relative;
	width: calc(33% - 40px);
	height: 300px;
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	margin: 20px 10px;
	overflow: hidden;
	transition: all 0.5s;
} 

.services section > div:first-of-type {
	margin: 20px 10px 20px 20px;
}

.services section > div:last-of-type {
	margin: 20px 20px 20px 10px;
}

.services section > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: all 0.5s;
} 

.services section > div:hover > img {
	transform: scale(1.5);
} 

.services section > div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
} 

.services section > div > div > h2 {
	width: 100%;
	font-size: 1.5em;
	font-weight: 700;
	color: #fff;
	text-shadow: 2px 2px 5px #444;
} 

.services section > div > div > a {
	font-weight: 500;
	padding: 10px 20px;
	background: #FFBC54;
	border-radius: 2px;
	border: 2px solid #fff;
	color: #fff;
	white-space: nowrap;
	text-decoration: none;
} 

.rooms {
	display: block;
	padding: 50px 0;
	background: #fff;
	/*font-family: Verdana, Arial, serif;*/
} 

.rooms section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	background: #000;
	width: 100%;
} 

.rooms section > div {
	position: relative;
	width: calc(50% - 40px);
	max-width: 600px;
	margin: 20px 10px;
	border: 1px solid #fff;
	background: #fff;
	overflow: hidden;
} 

.rooms section > div:nth-of-type(odd) {
	margin: 10px 10px 10px 20px;
}

.rooms section > div:nth-of-type(even) {
	margin: 10px 20px 10px 10px;
}

.rooms section > div:first-of-type {
	margin: 20px 10px 10px 20px;
}

.rooms section > div:last-of-type {
	margin: 10px 20px 20px 10px;
}

.rooms section > div > div {
	width: 100%;
	overflow: hidden;
	position: relative;
	transition: all 0.5s;
} 

.rooms section > div:hover > div {
	background-color: #005EC744;
} 

.rooms section > div > div:first-of-type > img {
	width: 100%;
	object-fit: contain;
	object-position: center;
	transition: all 0.5s;
} 

.rooms section > div:hover > div:first-of-type > img {
	transform: scale(1.5);
} 

.rooms section > div > div:first-of-type > span {
	background: transparent;
	color: #0000;
	padding: 8px;
	position: absolute;
	top: 0%;
	left: 0%;
	aspect-ratio: 1;
	transform: translate(-50%, -50%) rotate(-45deg);
	transform-origin: 50% 50%;
	overflow: visible;
	font-weight: 500;
} 

.rooms section > div > div:first-of-type > span:before {
	content: attr(value);
	background: #FF3500;
	color: #fff;
	padding: 8px;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 200%;
	text-align: center;
	transform: translate(-50%, 0%);
	box-shadow: 0 0 5px 5px #0005;
} 

.rooms section > div > div:last-of-type  {
	text-align: center;
} 

.rooms section > div > div:last-of-type * {
	text-align: center;
	margin: 10px auto;
} 

.rooms section > div > div:last-of-type img {
	width: 30px;
	object-fit: contain;
	margin-top: 20px;
} 

.rooms section > div > div:last-of-type h2 {
	color: #584193;
	font-size: 2em;
	font-weight: 700;
	margin: 20px 10px;
} 

.rooms section > div > div:last-of-type p {
	font-size: 1.2em;
	line-height: 2em;
	color: #444;
	padding: 0 10px;
} 

.rooms section > div > div:last-of-type p .pax {
	font-size: 0.9em;
} 

.rooms section > div > div:last-of-type p .desc {
	font-size: 0.7em;
} 

.rooms section > div > div:last-of-type a {
	display: inline-block;
	padding: 15px 20px;
	margin: 20px 10px;
	background: #000;
	border: 1px solid #584193;
	text-decoration: none;
	color: #fff;
} 


.explore {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
	width: 100%;
	background: #FFBC54AA;
	border: 30px solid #fff;
	border-width: 30px 0;
} 

.explore h2 {
	position: relative;
	width: 100%;
	font-size: 1.5em;
	font-weight: 700;
	font-style: italic;
	color: #584193;
	margin: 20px 0 0 0;
	padding: 10px 20px;
	text-align: center;
	line-height: 1em;
	pointer-events: none;
	background: #fff;
	z-index: 1;
} 

.explore section {
	width: 100%;
} 

.explore .carrousel {
	margin: auto;
	height: fit-content;
	position: relative;
	padding: 30px 0;
} 

.explore .carrousel > div {
	position: relative;
	width: 100%;
	height: 500px;
} 

.explore .carrousel > div > div {
	position: relative;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: auto;
	pointer-events: none;
	scroll-behavior: smooth;
	ms-overflow-style: none; /*Hiding scrollbar on edge*/
	scrollbar-width: none; /*Hiding scrollbar on firefox*/
	z-index: 0;
} 

.explore .carrousel > div > div::-webkit-scrollbar { /*Hiding scrollbar on webkit browsers*/
	display: none;
}

.explore .carrousel > div > div figure {
	width: 100%;
	max-width: 880px;
	height: 100%;
	margin: 0 5px;
	display: inline-block;
	position: relative;
}

.explore .carrousel > div > div figure figcaption {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 10px;
	margin: 0;
	font-size: 1.3em;
	font-weight: 500;
	font-style: italic;
	text-shadow: 5px 5px 5px #000;
	color: #fff;
	backdrop-filter: blur(8px);
}

.explore .carrousel > div > div figure img {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.explore .carrousel > div > div figure:first-of-type,
.explore .carrousel > div > div figure:last-of-type {
	margin: 0;
}

.explore .carrousel > div > button {
	position: absolute;
	top: 50%;
	height: 50px;
	width: 50px;
	display: inline-block;
	background: #0000;
	border: 0px solid #aaa;
	border-radius: 50%;
	backdrop-filter: blur(8px);
	z-index: 2;
}

.explore .carrousel > div > button:first-of-type {
	left: 30px;
	transform: translate(0, -50%);
}

.explore .carrousel > div > button:first-of-type:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-35%, -50%) rotate(135deg);
	height: 40%;
	width: 40%;
	aspect-ratio: 1;
	border: 3px solid #fff;
	border-width: 0 3px 3px 0;
}

.explore .carrousel > div > button:last-of-type {
	right: 30px;
	transform: translate(0, -50%);
}

.explore .carrousel > div > button:last-of-type:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-75%, -50%) rotate(-45deg);;
	height: 40%;
	width: 40%;
	border: 3px solid #fff;
	border-width: 0 3px 3px 0;
}

.explore .carrousel > p {
	position: absolute;
	bottom: 40px;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	z-index: 2;
}

.explore .carrousel > p span {
	display: block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	margin: 0 5px;
	background: #0005;
}

.explore .carrousel > p span.showing {
	background: #000;
	transform: scale(1.2);
}

.explore > .desc {
	background: transparent;
	padding: 30px 10px 10px 10px;
} 

.explore > .desc > div {
	padding: 10px 20px;
	background: #fff;
} 

.explore > .desc > div > h2 {
	padding: 0 0 10px 0;
	text-align: left;
} 

.explore > .desc > div > p {
	line-height: 2em;
} 

.explore > .desc > div > p > span {
	font-size: 0.8em;
} 

.explore > .desc > div > a {
	display: block;
	width: fit-content;
	padding: 15px 20px;
	margin: 20px 10px;
	background: #584193;
	border: 1px solid #000;
	text-decoration: none;
	color: #fff;
	text-align: center;
} 


footer {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-flow: row wrap;
	background: #000;
	padding: 0;
	font-size: 0.9em;
} 

footer section {
	width: 100%;
	max-width: 300px;
	margin: 20px;
} 

footer section h1 {
	font-size: 1.3em;
	color: #8C51D4;
	font-weight: 500;
} 

footer section hr {
	height: 2px;
	background: #333;
	border-width: 0;
} 

footer section:not(.find_us) > div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
	margin: auto;
	margin-left: 0; 
	cursor: default;
}

footer section:not(.find_us) > div img {
	height: 70px;
	object-fit: contain;
	object-position: center;
	border-radius: 50%;
	filter: brightness(0%) invert(90%); 
} 

footer section:not(.find_us) > div h2 {
	margin: 10px;
	color: #eee;
}

footer section:not(.find_us) > div span {
	font-size: 0.9rem;
	font-style: italic;
	color: #eee;
	font-weight: 400;
	margin: 10px 0;
}

.find_us iframe {
	width: 100%;
}

footer section p {
	line-height: 2em;
	color: #eee;
} 

footer section a:hover {
	color: #FFBC54;
}

footer section a {
	text-decoration: none;
	display: block;
	color: inherit;
} 

footer section form label {
	color: #eee;
}

footer section form input[type='email'] {
	margin: 10px 0;
	background: transparent;
	color: #eee;
	padding: 10px 10px;
	width: 100%;
	border-radius: 8px;
	border: 2px solid #333;
}

footer section form input[type='submit'] {
	margin: 10px 0;
	background: #8C51D4;
	color: #eee;
	padding: 10px 10px;
	width: 100%;
	border-radius: 8px;
}

footer section form input[type='submit']:hover {
	background: #FFBC54;
	color: #333;
}

footer .reservations a {
	position: relative;
	padding-left: 30px;
}

footer .reservations a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 20px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	filter: brightness(0%) invert(90%);
}

footer .reservations a:nth-of-type(1):before {
	background-image: url("./src/images/email.png");
}

footer .reservations a:nth-of-type(2):before {
	background-image: url("./src/images/call.png");
}

footer .reservations a:nth-of-type(3):before {
	background-image: url("./src/images/call.png");
}

footer .reservations a:nth-of-type(4):before {
	height: 0;
}

footer .reservations a:nth-of-type(4) {
	padding-left: 10px;
}

footer .social_media a {
	height: 20px;
	width: 20px;
	display: inline-block;
	margin: 0 10px;
	background-image: url('./src/images/facebook.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(100%) brightness(0%) invert(90%);
}

footer .social_media a:nth-of-type(2) {
	background-image: url('./src/images/instagram.png');
}

footer .social_media a:nth-of-type(3) {
	background-image: url('./src/images/whatsapp.png');
}

footer .social_media a:hover {
	transform: scale(1.2);
}

footer .copyright {
	margin: 0;
	max-width: 100%;
	padding: 20px 10px;
	background: #333;
	color: #aaa;
	text-align: center;
	line-height: 2em;
}

footer .copyright a {
	color: #ccc;
	display: inline-block;
}


/* all mobile devices and handhelds */
@media only screen and (min-width: 320px) and (max-width: 812px) {
	header > div:nth-of-type(2) {
		display: block;
		grid-area: 2 / 1 / 3 / 3;
		overflow: hidden;
		height: 0;
		transform: scaleY(0);
	} 
	header > div:nth-of-type(2) nav:first-of-type {
		flex-flow: column nowrap;
		padding: 0;
		margin: 10px 0 0 0;
		background: transparent;
		border-width: 1px 0 0 0;
	} 
	header > div:nth-of-type(2) nav:first-of-type a {
		margin: 0;
		padding: 10px 0;
		background: transparent !important;
		color: #584193 !important;
	} 
	header > div:nth-of-type(2) nav:last-of-type {
		/*display: none;*/
	} 
	header div:nth-of-type(3) {
		display: block;
	} 
	header > div:first-of-type {
		flex-flow: row nowrap;
	} 
	
	.info p {
		width: 100%;
	} 
	
	.services section > div {
		width: 100%;
		margin: 10px 20px;
	}
	
	.services section > div:first-of-type {
		margin: 20px 20px 10px 20px;
	}
	
	.services section > div:last-of-type {
		margin: 10px 20px 20px 20px;
	}
	
	.rooms section > div {
		width: 100%;
		margin: 10px 20px !important;
	}
	
	.rooms section > div:first-of-type {
		margin: 20px 20px 10px 20px !important;
	}
	
	.rooms section > div:last-of-type {
		margin: 10px 20px 20px 20px !important;
	}
	
	footer section {
		max-width: 100%;
	} 
} 